<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="cell">
    <%= label_tag(:name, "name:") %>   
    <%= f.text_field(:name, class: 'form-control') %>  
  </div>

  <div class="cell">
    <%= label_tag(:email, "email:") %> 
    <%= f.text_field(:email, class: 'form-control') %>  
  </div>

  <div class="cell">
    <%= label_tag(:message, "message:") %>
    <%= f.text_area(:message, class: 'form-control wysiwyg', id: 'wysiwyg') %>  
  </div>    

  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= f.label :image %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= f.file_field  :image %>
    </div>
  </div>   

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
