<p id="notice"><%= notice %></p>

<%= @review.name %>
<br />
<%= @review.email %>
<br />
<%= @review.message %>
<hr />

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
