<!DOCTYPE html>
<html>
<head>
  <title>AdminBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <aside>
    <% if user_signed_in? %>
        <span>Здравствуйте, <%= current_user.email %></span>
        <%= link_to 'Выйти', destroy_user_session_path, :method => :delete, class: 'btn-default btn' %>
    <% else %>
        <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_password_path %>
    <% end %>
    <hr />
    <% if can? :read, ActiveAdmin::Page, :name => "Dashboard" %>
      0<%= link_to 'to adminpanel', admin_root_path %>
    <% end %>    
    <br>
    <% if can? :read, :all %>
      1<%= link_to 'to adminpanel', admin_root_path %>
    <% end %>  
    <br>
    <% if can? :manager, :all %>
      2<%= link_to 'to adminpanel', admin_root_path %>
      2<%= link_to 'to adminpanel', admin_root_path %>
      2<%= link_to 'to adminpanel', admin_root_path %>
    <% end %>            
    <hr />
  </aside>

  <%= yield %>

</body>
</html>
